<!DOCTYPE html>
<html>
<head>
  <title>Lynks service desk</title>
  <%= stylesheet_link_tag    "lynks_service_desk/application", media: "all" %>
  <%= javascript_include_tag "lynks_service_desk/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
